---
  parser: babel-eslint
  extends:
    - eslint:recommended
    - plugin:react/recommended
  plugins:
    - react
    - import
    - private-props
  env:
    es6: true
    node: true
    browser: true
  rules:
    global-require: 0
    semi: 2
    jsx-quotes: [2, prefer-single]
    comma-dangle: [2, { arrays: always-multiline, objects: always-multiline, imports: always-multiline, exports: always-multiline, functions: ignore }]
    import/extensions: [0, ".js", ".jsx", ".ts", ".tsx"]
    import/prefer-default-export: 0
    import/newline-after-import: 0
    import/no-unresolved: [2, { "commonjs": true, "ignore": ["AppTestUtil"] }]
    import/no-extraneous-dependencies: 0
    private-props/no-unused-or-undeclared: [2, { "privateMatchers": ["^_", "^handle.+", "^render.+"] }]
