global-reset()

$base-color = #00101A
$easing-quick = cubic-bezier(.215, .61, .355, 1)
$easing-kickback = cubic-bezier(0.175, 0.885, 0.32, 1.275)

html, body {
  margin 0
  padding 0
  line-height 1.5
  font-size 12px
  font-weight 300
  font-family '游ゴシック', YuGothic, 'ヒラギノゴシック ProN W3', 'Hiragino Gothic ProN', 'メイリオ', Meiryo, sans-serif
  font-smoothing antialiased
  overflow auto !important
  -webkit-tap-highlight-color transparent
}
