global-reset()

html, body
  height 100%
  line-height 1.5
  font-size 12px
  font-weight 300
  font-family YuGothic, 'Hiragino Gothic ProN', Meiryo, sans-serif
  color white
  font-smoothing antialiased
  background-color black
  -webkit-tap-highlight-color transparent

#App
  &Back
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-size cover
    background-position 50% 50%
