global-reset()

$base-color = #00101A
$easing-quick = cubic-bezier(.215, .61, .355, 1)
$easing-kickback = cubic-bezier(0.175, 0.885, 0.32, 1.275)

html, body
  margin 0
  padding 0
  height 100%
  line-height 1.5
  font-size 12px
  font-weight 300
  font-family '游ゴシック', YuGothic, 'ヒラギノゴシック ProN W3', 'Hiragino Gothic ProN', 'メイリオ', Meiryo, sans-serif
  color white
  font-smoothing antialiased
  background-color $base-color
  -webkit-tap-highlight-color transparent

ul, li
  margin 0
  padding 0
  list-style none

#app
  height 100%

#App
  height 100%

  &Back
    position fixed
    top 0
    left 50%
    bottom 0
    background-size cover
    background-position 50% 50%
    width 100%
    max-width 1024px
    transform translateX(-50%)
    overflow hidden

    &:before
      z-index 5
      content ''
      display block
      position absolute
      top 0
      left 0
      bottom 0
      width 0
      height 100%
      box-shadow 0 0 60px 80px $base-color

    &:after
      z-index 5
      content ''
      display block
      position absolute
      top 0
      right 0
      bottom 0
      width 0
      height 100%
      box-shadow 0 0 60px 80px $base-color

    &Elevator
      z-index 1
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      max-width 1024px
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat

    &Lattice
      z-index 2
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-repeat repeat
      max-width 1024px

    &People
      z-index 3
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      max-width 1024px
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat

  &Overlay
    z-index 10
    position absolute
    top 0
    left 50%
    bottom 0
    background-size cover
    background-position 50% 50%
    width 100%
    max-width 1024px
    transform translateX(-50%)

    &Logo
      box-sizing border-box
      z-index 6
      position absolute
      left 10%
      top 40px

      img
        width 360px

    &Copy
      box-sizing border-box
      z-index 6
      position absolute
      right 10%
      bottom 40px
      width 200px
      font-family 'Hannari', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif
      font-weight medium
      font-size 4em
      color lighten($base-color, 12%)
      text-shadow 0px 0px 4px white, 0px 0px 4px white
      display flex

      &Body
        margin-left auto
        writing-mode vertical-rl

      .copy2
        padding-top 3em

  &Main
    z-index 15
    box-sizing border-box
    position relative

    .AppSection
      margin-bottom 100px
      background-color rgba($base-color, 0.84)

      &Body
        box-sizing border-box
        margin 0 auto
        padding 20px 0 40px
        width 100%
        max-width 768px

        &Song
          text-align center

          h3
            font-size 1.8em

      h2
        margin 40px 0 60px
        padding 0 0 10px
        // font-family '游ゴシック', YuGothic, 'ヒラギノゴシック ProN W3', 'Hiragino Gothic ProN', 'メイリオ', Meiryo, sans-serif
        font-size 3em
        border-bottom 1px dashed rgba(white, 0.12)
        text-align center

      p
        font-size 1.2em

      .AppSectionCharactor
        display flex
        justify-content space-between
        align-items top

      .AppSectionCharactors
        flex 1
        position relative
        min-height 360px

        h3
          margin 0
          font-size 1.8em

        img
          position absolute
          bottom 0

        &.left
          z-index 1

          h3
            text-align right

          img
            right -0px
            height 360px

          .AppSectionCharactorsText
            margin-right 150px

        &.right
          z-index 0

          .AppSectionCharactorsText
            margin-left 150px

          img
            left -40px
            height 370px

  &Footer
    background-color $base-color
    box-shadow 0 0 0 5px $base-color

    &Body
      box-sizing border-box
      margin 0 auto
      padding 20px 40px
      width 100%
      max-width 768px
